Json
[{"id":"12f1c928.a76f67","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"3c37b2fc.34a17e","type":"camerapi-takephoto","z":"12f1c928.a76f67","filemode":"1","filename":"Pic1.JPEG","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":680,"y":140,"wires":[["91218c61.bdebb"]]},{"id":"99ef8dc3.aaea4","type":"change","z":"12f1c928.a76f67","name":"Mail setup","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{ \t    \"filename\": 'Pic1.JPEG', \t    \"content\": $$.payload\t    }]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Bevegelse","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Aktivert av sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":140,"wires":[["6c649cf0.e1eec4"]],"info":"msg.payload = \"Body Message Text\";\r\n\r\nmsg.topic = \"Topic Text\";\r\n\r\nmsg.attachments = [{filename: \"Pic1.JPEG\", content: msg.File1}];"},{"id":"91218c61.bdebb","type":"file in","z":"12f1c928.a76f67","name":"","filename":"/home/pi/Pictures/Pic1.JPEG","format":"","chunk":false,"sendError":false,"encoding":"none","x":920,"y":140,"wires":[["99ef8dc3.aaea4"]]},{"id":"4c3c8645.bf24b8","type":"ui_template","z":"12f1c928.a76f67","group":"e1cd8704.83d878","name":"","order":2,"width":8,"height":9,"format":"<script>\nvar value = \"1\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n\nfunction updateF() {\n  var source = '/photo1.JPEG',\n  timestamp = (new Date()).getTime(),\n  newUrl = source + '?_=' + timestamp;\n  document.getElementById(\"photo\").src = newUrl;\n}\n</script>\n<div style=\"margin-bottom:40px;\">\n <img src=\"/photo1.JPEG\" id=\"photo\" width=\"100%\" height=\"100%\">\n</div>\n\n<md-button ng-click=\"send({payload:action()})\" onclick=\"setTimeout(updateF, 2500);\" style=\"padding:20px; margin-bottom: 60px;\" >\n <ui-icon icon=\"camera\"></ui-icon>\n Ta bilde<br>\n</md-button>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":220,"y":260,"wires":[["73c32dff.33a374","3384fa3a.54a756"]]},{"id":"73c32dff.33a374","type":"camerapi-takephoto","z":"12f1c928.a76f67","filemode":"1","filename":"photo1.JPEG","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":500,"y":260,"wires":[["9b36fda0.66a1","82235966.1def48"]]},{"id":"9fffbbc.be95c48","type":"rpi-gpio in","z":"12f1c928.a76f67","name":"Sensor","pin":"38","intype":"tri","debounce":"25","read":false,"x":210,"y":140,"wires":[["77efc0bd.df6bb"]]},{"id":"9b36fda0.66a1","type":"function","z":"12f1c928.a76f67","name":"","func":"var now = new Date().toLocaleString();\nreturn {payload: now};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":320,"wires":[["b2a341a6.a64bd","2dbad0d.df7a33"]]},{"id":"b2a341a6.a64bd","type":"ui_text","z":"12f1c928.a76f67","group":"e1cd8704.83d878","order":1,"width":0,"height":0,"name":"","label":"Bilde tatt:","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":320,"wires":[]},{"id":"c2f5d41.0849028","type":"comment","z":"12f1c928.a76f67","name":"Valgmulighet 1 - Sensor","info":"","x":240,"y":60,"wires":[]},{"id":"e291759f.40e4e8","type":"change","z":"12f1c928.a76f67","name":"Mail setup","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{ \t    \"filename\": 'photo1.JPEG', \t    \"content\": $$.payload\t    }]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Bilde","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Bilde tatt manuelt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":260,"wires":[["bd0b840e.467168"]],"info":"msg.payload = \"Body Message Text\";\r\n\r\nmsg.topic = \"Topic Text\";\r\n\r\nmsg.attachments = [{filename: \"Pic1.JPEG\", content: msg.File1}];"},{"id":"bd0b840e.467168","type":"e-mail","z":"12f1c928.a76f67","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"andreas.svendsen93@hotmail.com","dname":"","x":1460,"y":260,"wires":[]},{"id":"82235966.1def48","type":"file in","z":"12f1c928.a76f67","name":"","filename":"/home/pi/Pictures/photo1.JPEG","format":"","chunk":false,"sendError":false,"encoding":"none","x":930,"y":260,"wires":[["e291759f.40e4e8"]]},{"id":"5c83effb.3faa8","type":"comment","z":"12f1c928.a76f67","name":"Ta bilde og send på mail","info":"","x":250,"y":220,"wires":[]},{"id":"9a6d4b73.771468","type":"comment","z":"12f1c928.a76f67","name":"Valgmulighet 2 - Livestream","info":"","x":260,"y":400,"wires":[]},{"id":"2dbad0d.df7a33","type":"exec","z":"12f1c928.a76f67","command":"python3 /home/pi/livestream1.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":870,"y":540,"wires":[[],[],[]]},{"id":"7db57965.76d468","type":"ui_button","z":"12f1c928.a76f67","name":"","group":"9aa025fb.78b708","order":1,"width":6,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Livestream","payloadType":"str","topic":"","topicType":"str","x":210,"y":460,"wires":[["26484254.caf46e"]]},{"id":"fec48a46.ec22b8","type":"exec","z":"12f1c928.a76f67","command":"python3 /home/pi/40grader.py","addpay":true,"append":"","useSpawn":"true","timer":"0.5","oldrc":false,"name":"","x":510,"y":720,"wires":[[],[],[]]},{"id":"c4e467c9.42cee8","type":"exec","z":"12f1c928.a76f67","command":"python3 /home/pi/80grader.py","addpay":true,"append":"","useSpawn":"true","timer":"0.5","oldrc":false,"name":"","x":510,"y":780,"wires":[[],[],[]]},{"id":"6915b8e1.091ea8","type":"ui_button","z":"12f1c928.a76f67","name":"Høyre","group":"9aa025fb.78b708","order":7,"width":4,"height":1,"passthru":false,"label":"Roter høyre","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":720,"wires":[["fec48a46.ec22b8"]]},{"id":"ef3ed3db.302ac","type":"ui_button","z":"12f1c928.a76f67","name":"Midtstill","group":"9aa025fb.78b708","order":6,"width":4,"height":1,"passthru":false,"label":"Midtstill","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":780,"wires":[["c4e467c9.42cee8"]]},{"id":"6802d9dc.ebe0b8","type":"ui_button","z":"12f1c928.a76f67","name":"Venstre","group":"9aa025fb.78b708","order":5,"width":4,"height":1,"passthru":false,"label":"Roter venstre","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":840,"wires":[["118e24f2.82debb"]]},{"id":"118e24f2.82debb","type":"exec","z":"12f1c928.a76f67","command":"python3 /home/pi/120grader.py","addpay":true,"append":"","useSpawn":"true","timer":"0.5","oldrc":false,"name":"","x":510,"y":840,"wires":[[],[],[]]},{"id":"c2f64a2.e2f72b8","type":"ui_button","z":"12f1c928.a76f67","name":"","group":"9aa025fb.78b708","order":2,"width":6,"height":1,"passthru":false,"label":"Stopp","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":560,"wires":[["3384fa3a.54a756"]]},{"id":"3384fa3a.54a756","type":"change","z":"12f1c928.a76f67","name":"Kill","rules":[{"t":"set","p":"kill","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":560,"wires":[["2dbad0d.df7a33"]]},{"id":"26484254.caf46e","type":"ui_template","z":"12f1c928.a76f67","group":"9aa025fb.78b708","name":"","order":4,"width":0,"height":0,"format":"<iframe width=\"640\" Height=\"500\" src=\"http://10.249.252.72:8000/index.html\"\nframeboarder =\"1\" allowfullscreen></iframe>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":460,"wires":[["2dbad0d.df7a33"]]},{"id":"fe9a9987.a9dae8","type":"comment","z":"12f1c928.a76f67","name":"Rotering av servo","info":"","x":220,"y":660,"wires":[]},{"id":"6c649cf0.e1eec4","type":"e-mail","z":"12f1c928.a76f67","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"andreas.svendsen93@hotmail.com","dname":"","x":1460,"y":140,"wires":[]},{"id":"77efc0bd.df6bb","type":"ui_switch","z":"12f1c928.a76f67","name":"","label":"Bevegelsesaktivert bildetagning","tooltip":"","group":"4434ea4d.02bbf4","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":430,"y":140,"wires":[["3c37b2fc.34a17e"]]},{"id":"e1cd8704.83d878","type":"ui_group","name":"Selvbetjent bildetaking","tab":"42c3b9a3.793978","order":2,"disp":true,"width":"8","collapse":false},{"id":"9aa025fb.78b708","type":"ui_group","name":"Livestream","tab":"42c3b9a3.793978","order":3,"disp":true,"width":13,"collapse":false},{"id":"4434ea4d.02bbf4","type":"ui_group","name":"Varsling","tab":"42c3b9a3.793978","order":1,"disp":true,"width":"5","collapse":false},{"id":"42c3b9a3.793978","type":"ui_tab","name":"Hyttekamera","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
